.sidebar {
    background: #22313a;
    color: #FFF;
}
    .sidebar a {
        color: #EEE;
    }

.navigation-main {
}
.navigation-categories {
    animation-delay: .2s;
}

.sidebar-title {
    margin-bottom: 0;
    padding: 6px;

    font-family: "Titillium Web";
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.sidebar-menu {
    margin: 0;
    padding: 10px 0;

    border-bottom: 1px solid rgba(255,255,255,.1);
}
    .sidebar-menu .item {
        list-style: none;
    }
    .sidebar-menu .icon {
        margin-right: 6px;
    }
    .sidebar-menu a {
        display: block;
        padding: 6px;
        border-radius: 3px;

        font-weight: 300;
        font-size: 14px;
        text-decoration: none;

        color: #EEE;
    }
    .sidebar-menu a:hover {
        background: rgba(255,255,255,.1);
    }
    .sidebar-menu .active {
        background: #1caad9;
    }
